.simpsonsQuotes-charImage{
    max-width: 100px;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

.simpsonsQuotes-credit{
    margin-top: 10px;
    max-width: 300px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
}

.simpsonsQuotes-quote{
    max-width: 300px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}
.simpsonsQuotes-container{
    max-width: 300px;
}
